pynput
selenium
pywinctl
mss
pillow
vidgear
IPython
lxml
pyautogui
numpy
tqdm
moviepy
playwright
gdown
pydrive2
pandas
openpyxl
python-Levenshtein
openai
scikit-learn
dirtyjson
matplotlib
seaborn
google-generativeai
tiktoken
einops
opt_einsum
nbformat
plotly
google-auth-oauthlib
python-dotenv
plotly
kaleido
anthropic
together
gdown
